.emoji-reactions {
  position: relative;
}

.emoji-reactions > ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  border: solid 1px #00846bc7;
  box-sizing: border-box;
  margin-top: 10px;
  max-width: 100%;
  z-index: 2;
}

.emoji-reactions > ul::before {
  content: '';
  border-bottom: 9px solid #00846bc7;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  position: absolute;
  top: -9px;
  left: 16px;
}

.emoji-reactions > ul::after {
  content: '';
  border-bottom: 8px solid #ffffff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: -8px;
  left: 17px;
}


.emoji-reactions > ul > li {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
}

/* .emoji-reactions > ul > li .emoji {

} */

.emoji-reaction--count {
  display: none;
}

.emoji-reaction--title {
  display: none;
}

.emoji-reaction__container {
  display: inline-block;
}

.emoji-reaction__container > a {
  width: 60px;
  height: 60px;
  padding: 0;
  float: left;
  box-sizing: border-box;
}

.emoji-reactions__stats {
  margin-bottom: 10px;
}
.emoji-reactions__stats--icons {
  margin-right: 7px;
}
.emoji-reactions__stats--icons .emoji-shrink.emoji-wrapper {
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 0 0 -5px;
}
.emoji-reactions__stats--icons .emoji-shrink.emoji-wrapper .emoji {
  transform: scale3d(0.2, 0.2, 0.2);
  top: -48px;
  left: -48px;
}
