<div class="emoji-reactions__stats">
    <span class="emoji-reactions__stats--icons">
        {% for icon in icons %}
            {{ icon }}
        {% endfor %}
    </span>
    <span class="emoji-reactions__stats--count">
        {{ count }}
    </span>
</div>